# virtual env
.venv/

# build artifacts
/dist
/build
__pycache__/

# runtime output
logs/
Output/

# exe
*.exe

Obsolete/

# backup files
*.bak

# input samples (optional)
Input/*.htm
Input/BAK/
Input/Test HTM/*

